In [166]:
import pandas as pd
import numpy as np
import math
from datetime import datetime

In [167]:
train_1 = pd.read_csv('final_SOM.csv')
train_1.head()

    Time Impact Activity Type Primary Cause       Date
0  06:40     I3            A3           PC1  10 May 18
1  10:30     I3            A3           PC2  26 Apr 18
2  23:40     I3            A3           PC2  30 Mar 18
3  10:05     I3            A3           PC4  17 Mar 18
4  07:05     I3            A3           PC7   5 Jan 18

In [168]:
train_1['Time1'] = 0
for i in range(0,len(train_1)):
    train_1.Time1[i] = datetime.strptime(str(train_1.Time[i]), "%H:%M").strftime('%H%M')

/home/kartik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [169]:
train_1['Month'] = 0
for i in range(0,len(train_1)):
    train_1.Month[i] = datetime.strptime(train_1.Date[i], '%d %b %y').strftime('%B')

/home/kartik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/kartik/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [170]:
train_1['Day'] = 0
for i in range(0,len(train_1)):
    train_1.Day[i] = datetime.strptime(train_1.Date[i], '%d %b %y').strftime('%d')

/home/kartik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [171]:
train_1['Date1'] = 0
for i in range(0,len(train_1)):
    train_1.Date1[i] = datetime.strptime(train_1.Date[i], '%d %b %y').strftime('%d-%m-%y')

/home/kartik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/kartik/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [172]:
train_1['Day'] = 0
for i in range(0,len(train_1)):
    train_1.Day[i] = datetime.strptime(train_1.Date[i], '%d %b %y').strftime('%A')

/home/kartik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/kartik/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [173]:
A1= '6:00'  
A2='14:00'
B1='14:00'
B2='22:00'
C1='22:00'
C2='6:00'

In [174]:
train_1.head()

,Time,Impact,Activity Type,Primary Cause,Date,Time1,Month,Day,Date1
0,06:40,I3,A3,PC1,10 May 18,640,May,Thursday,10-05-18
1,10:30,I3,A3,PC2,26 Apr 18,1030,April,Thursday,26-04-18
2,23:40,I3,A3,PC2,30 Mar 18,2340,March,Friday,30-03-18
3,10:05,I3,A3,PC4,17 Mar 18,1005,March,Saturday,17-03-18
4,07:05,I3,A3,PC7,5 Jan 18,705,January,Friday,05-01-18

In [175]:
train_1.drop(['Date1','Date','Time'],axis = 'columns',inplace=True)

In [176]:
train_1.head()

  Impact Activity Type Primary Cause  Time1    Month       Day
0     I3            A3           PC1    640      May  Thursday
1     I3            A3           PC2   1030    April  Thursday
2     I3            A3           PC2   2340    March    Friday
3     I3            A3           PC4   1005    March  Saturday
4     I3            A3           PC7    705  January    Friday

In [177]:
Shift1 = np.array(range(len(train_1)),dtype = str)
for i in range(0,len(train_1)):
    if str(train_1.Time1[i]) >= '600' and str(train_1.Time1) < '1400':
        Shift1[i] = 'A'
    elif str(train_1.Time1[i]) >= '1400' and str(train_1.Time1) < '2200':
        Shift1[i] = 'B'
    else :
        Shift1[i] = 'C'
Shift1

array(['A', 'C', 'B', 'C', 'A', 'A', 'C', 'B', 'A', 'B', 'B', 'C', 'C',
       'C', 'B', 'B', 'A', 'C', 'B', 'A', 'C', 'C', 'B', 'C', 'B', 'A',
       'B', 'A', 'B', 'B', 'C', 'B', 'A', 'C', 'C', 'B', 'B', 'C', 'B',
       'A', 'B', 'B', 'A', 'A', 'B', 'C', 'C', 'C', 'C', 'C', 'C', 'C',
       'B', 'C', 'C', 'A', 'C', 'B', 'B', 'B', 'B', 'B', 'C', 'A', 'C',
       'B', 'B', 'B', 'C', 'A', 'A', 'B', 'B', 'C', 'B', 'A', 'B', 'B',
       'C', 'C', 'C', 'C', 'B', 'C', 'C', 'A', 'C', 'B', 'A', 'C', 'B',
       'C', 'C', 'C', 'A', 'B', 'C', 'C', 'C', 'B', 'B', 'A', 'B', 'A',
       'B', 'A', 'A', 'B', 'B', 'C', 'B', 'A', 'B', 'B', 'C', 'B', 'B',
       'B', 'B', 'C', 'B', 'B', 'B', 'B', 'C', 'B', 'C', 'A', 'C', 'C',
       'C', 'C', 'B', 'C', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'B', 'C',
       'B', 'B', 'C', 'B', 'B', 'B', 'B', 'B', 'C', 'B', 'C', 'B', 'C',
       'B', 'B', 'B', 'C', 'C', 'B', 'C', 'B', 'B', 'B', 'C', 'C', 'C',
       'B', 'C', 'C', 'B', 'B', 'B', 'B', 'C', 'B', 'C', 'C', 'B', 'C',
       'C', 'B', 'C', 'C', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'B', 'B',
       'C', 'C', 'B', 'B', 'B', 'A', 'C', 'C', 'B', 'C', 'B', 'B', 'B',
       'B', 'C', 'B', 'B', 'B', 'C', 'B', 'B', 'B', 'C', 'B', 'B', 'B',
       'B', 'B', 'B', 'A', 'C', 'C', 'B', 'B', 'C', 'B', 'A', 'C', 'C',
       'C', 'A', 'B', 'C', 'B', 'C', 'B', 'B', 'B', 'A', 'B', 'C', 'C',
       'A', 'A', 'B', 'C', 'C', 'C', 'B', 'C', 'B', 'C', 'A', 'C', 'C',
       'B', 'B', 'C', 'C', 'C', 'C', 'B', 'C', 'C', 'C', 'B', 'C', 'C',
       'B', 'B', 'C', 'C', 'C', 'B', 'C', 'B', 'A', 'C', 'C', 'A', 'B',
       'A', 'B', 'A', 'C', 'B', 'B', 'C', 'B', 'B', 'B', 'A', 'B', 'B',
       'A', 'C', 'B', 'B', 'B', 'A', 'B', 'C', 'A', 'C', 'A', 'B', 'B',
       'B', 'A', 'A', 'C', 'A', 'B', 'B', 'C', 'B', 'B', 'C', 'C', 'B',
       'C', 'C', 'B', 'C', 'B', 'B', 'C', 'B', 'B', 'C', 'C', 'A', 'A',
       'B', 'A', 'C', 'C', 'B', 'B', 'A', 'B', 'C', 'A', 'B', 'B', 'B',
       'B', 'B', 'B', 'A', 'B', 'B', 'C', 'A', 'C', 'B', 'C', 'C', 'B',
       'C', 'C', 'C', 'B', 'A', 'C', 'C', 'C', 'B', 'C', 'C', 'A', 'C',
       'C', 'B', 'A', 'B', 'C', 'B', 'B', 'C', 'B', 'B', 'B', 'B', 'B',
       'B', 'B', 'B', 'B', 'B', 'C', 'B', 'A', 'A', 'A', 'B', 'B', 'B',
       'B', 'A', 'A', 'B', 'C', 'C', 'B', 'A', 'B', 'B', 'C', 'B', 'A',
       'A', 'B', 'A', 'B', 'A', 'B', 'B', 'B', 'B', 'C', 'A', 'C', 'A',
       'B', 'B', 'A', 'B', 'B', 'C', 'B', 'B', 'B', 'C', 'A', 'A', 'B',
       'B', 'C', 'B', 'C', 'B', 'B', 'A', 'C', 'C', 'B', 'B', 'B', 'C',
       'C', 'A', 'B', 'C', 'B', 'C', 'B', 'A', 'B', 'C', 'B', 'C', 'C',
       'C', 'C', 'C', 'C', 'C', 'A', 'C', 'B', 'C', 'A', 'B', 'A', 'C',
       'B', 'C', 'B', 'C', 'C', 'B', 'B', 'B', 'B', 'C', 'B', 'B', 'B',
       'B', 'A', 'C', 'C', 'B', 'A', 'C', 'B', 'B', 'C', 'B', 'B', 'A',
       'C', 'B', 'B', 'C', 'B', 'B', 'B', 'A', 'B', 'C', 'A', 'C', 'A',
       'A', 'B', 'C', 'A', 'C'], dtype='<U3')

In [178]:
Shift1 = pd.DataFrame(Shift1)

In [ ]:
train_1.Shift = Shift

In [185]:
train_1 = pd.concat([train_1,Shift1],axis = 'columns',sort=False,join_axes=[train_1.index])

In [186]:
list(train_1.columns.values)

['Impact', 'Activity Type', 'Primary Cause', 'Time1', 'Month', 'Day', 0]

In [198]:
train_1[0].rename('Shift',inplace=True)

0      A
1      C
2      B
3      C
4      A
5      A
6      C
7      B
8      A
9      B
10     B
11     C
12     C
13     C
14     B
15     B
16     A
17     C
18     B
19     A
20     C
21     C
22     B
23     C
24     B
25     A
26     B
27     A
28     B
29     B
      ..
495    A
496    C
497    C
498    B
499    A
500    C
501    B
502    B
503    C
504    B
505    B
506    A
507    C
508    B
509    B
510    C
511    B
512    B
513    B
514    A
515    B
516    C
517    A
518    C
519    A
520    A
521    B
522    C
523    A
524    C
Name: Shift, Length: 525, dtype: object

In [206]:
train_dum1 = pd.get_dummies(train_1)

In [205]:
train_1.drop(['Time1'],axis = 'columns',inplace =True)

In [208]:
train_1.head()

  Impact Activity Type Primary Cause    Month       Day  0
0     I3            A3           PC1      May  Thursday  A
1     I3            A3           PC2    April  Thursday  C
2     I3            A3           PC2    March    Friday  B
3     I3            A3           PC4    March  Saturday  C
4     I3            A3           PC7  January    Friday  A

In [209]:
train_dum1.head()

,Impact_I1,Impact_I2,Impact_I3,Impact_I4,Activity Type_A1,Activity Type_A2,Activity Type_A3,Primary Cause_PC1,Primary Cause_PC2,Primary Cause_PC3,...,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday,0_A,0_B,0_C
0,0,0,1,0,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,0,0
1,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,1,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [210]:
train_dum1.to_csv('SOM_final.csv')